.list-group-item {
  padding: 0.5rem 1rem;
  width: 100%;
}
.list-group-item p {
  margin-bottom: 0;
}
.list-group-item > p > big {
  word-wrap: break-word;
}
.input-group-prepend .btn,
.input-group-append .btn,
.table-hover tbody .btn {
  z-index: 1;
}
.table-hover tbody tr:hover {
  cursor: pointer;
}
.table-hover tbody tr.fold-out:hover {
  cursor: inherit;
  background-color: white;
}
.table td > p:first-child,
.table th {
  text-align: center;
}
.octicon {
  padding-left: 3px;
}
